<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.company.appstore">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Owner.ExportAct"></activity>
        <activity android:name=".Splash_Act">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.PermissionsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".StartAct" />
        <activity android:name=".KepalaCabang.LoginAct" />
        <activity android:name=".KepalaCabang.DashbordAct" />
        <activity android:name=".KepalaCabang.LaporanUangAct" />
        <activity android:name=".KepalaCabang.AbsensiAct" />
        <activity android:name=".Owner.Login2Act" />
        <activity android:name=".Owner.OwnerDashbordAct" />
        <activity android:name=".Owner.EditOwnerAct" />
        <activity android:name=".Owner.EditTokoAct" />
        <activity android:name=".Owner.DataKaryawanAct" />
        <activity android:name=".Owner.ProfileKaryawanAct" />
        <activity android:name=".Owner.EditKaryawanAct" />
        <activity android:name=".Owner.AddKaryawanAct" />
        <activity android:name=".Owner.LaporanOwnerAct" />
        <activity android:name=".Owner.GajiAct" />
        <activity android:name=".Owner.InputGajiAct" />
        <activity android:name=".KepalaCabang.ListAbsensiAct" />
        <activity android:name=".KepalaCabang.InputLaporanUangAct" /> <!-- File Provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.company.appstore.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>